<!DOCTYPE html>

<html lang="en">
    <head>
        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

        <!-- Title bar logo -->
        <link rel="icon" href="/static/wc22-logo.webp" type="image/icon type">
        
        <!-- FIFA api for flags -->
        <link rel="preconnect" href="https://cloudinary.fifa.com">

        <!-- Qatar typography -->
        <link href="https://fonts.cdnfonts.com/css/qatar2022" rel="stylesheet">

        <link href="/static/styles.css" rel="stylesheet">
        
        <title>
            Qatar2022 Simulate
        </title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand home" href="/">
                    <h2>
                        <img src="/static/wc22-logo.webp" width="40px" class="align-top">
                        <span style="font-family: 'Qatar2022', sans-serif;">Qatar2022</span> &nbsp World Cup Simulator
                    </h2>
                </a>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" aria-current="page" href="#start">Group stage</a>
                    <a class="nav-link" href="#ko-buttons">KO stages</a>
                </div>
                </div>
            </div>
        </nav>
        <header id="start" class="jumbotron text-center my-3">
            <h2>Group stage</h2>
            <p> Simulate all the scores of the group stage.</p>
            
            <form method="get" action="/">
                <button name="simulate" class="btn btn-outline-danger" value="1" title="Simulate all matches">Simulate group-stage</button>
            </form>
            <span class="text-muted mb-0"><small> Simulation will be reset if the page is refreshed</small></span>
        </header>
        <main>
<!--------- Group stage ------------->
            <div class="container mx-1 text-center" style="max-width:1500px">
                <p class="mb-0 text-muted mt-5" style="margin-bottom: -5% !important;"> 
                    Teams in consecutive groups and with the <span class="text-success">same</span> <span class="text-warning"> color </span> will face each other in the round of 16.
                </p>
                {% for label, labelp1 in zip(groups[::2], groups[1::2]) -%}
                <div class="row">
                    <div class="col">
                        <table class="table table-hover caption-top">
                            <caption class="text-center">
                                Group {{ label }}
                            </caption>
                            <thead class="border-dark">
                                <tr>
                                    {% set tg = teams[label] %}
                                    {% for team in tg -%}
                                    <td> {{ team }} 
                                        <img title="{{names[team]}}" decoding="async" loading="lazy" height="70%" width="auto" 
                                                         src="https://cloudinary.fifa.com/api/v3/picture/flags-sq-2/{{team}}?tx=c_fill,g_auto,q_auto" class="image_img__3ckHZ">
                                    </td>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody style="font-size: 15px">
                                {% set fg = fixtures[label] %}
                                {% for match in fg -%}
                                <tr>
                                    <td class="text-nowrap">{{match.date}}</td>
                                    <td colspan="2">{{match.t1}} &nbsp; vs &nbsp; {{match.t2}}</td>
                                    <td>
                                        <span contenteditable="false"> {{match.t1_goals}}</span>
                                         :
                                         <span contenteditable="false"> {{match.t2_goals}}</span>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="col d-flex align-items-center mt-5">
                        <table class="table w-auto mt-3 caption-top">
                            <caption class="text-center  pt-0">
                                <!--
                                <div class="btn-container">
                                    <button class="btn btn-outline-success btn-sm" style="--bs-btn-padding-y: .3rem; --bs-btn-font-size: .8rem;"
                                            title="Simulate group" name="match_id">Simulate</button>
                                </div>
                                -->
                            </caption>
                            <thead class="table-dark">
                                <td>
                                    {% if simulate != 0 %}
                                    {% if simulate[label][1] == 'd-f' %}
                                    *
                                    {% elif simulate[label][1] == 'g-h' %}
                                    **
                                    {% endif %}
                                    {% endif %}
                                </td>
                                <td scope="col">Team</td>
                                <td scope="col">Pts.</td>
                                <td scope="col">GDf.</td>
                                <td scope="col">GS</td>
                            </thead>
                            {% if simulate != 0 %}
                            <tbody>
                                {% set rg = simulate[label][0] %}
                                {% for rank, team in rg.items()%}
                                <tr {% if loop.index == 1 %} 
                                class="table-success" name="{{label}}{{loop.index}}"
                                {% elif loop.index == 2%}
                                class="table-warning" name="{{label}}{{loop.index}}"
                                {% endif %}>
                                    <td>
                                        {{label}}{{loop.index}}
                                    </td>
                                    <td id="team"><img title="{{names[team]}}" decoding="async" loading="lazy" height="50%" width="auto" 
                                        src="https://cloudinary.fifa.com/api/v3/picture/flags-sq-2/{{team}}?tx=c_fill,g_auto,q_auto" class="image_img__3ckHZ">
                                    </td>
                                    <td>{{tst[team].points}}</td>
                                    <td>{{tst[team].goals_scored - tst[team].goals_received}}</td>
                                    <td>{{tst[team].goals_scored}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            {% endif %}
                        </table>
                    </div>
                    <div class="col d-flex align-items-center flex-row-reverse mt-5">
                        <table class="table w-auto mt-3 caption-top">
                            <caption class="text-center">
                                <!--
                                <div class="btn-container">
                                    <button class="btn btn-outline-success btn-sm" style="--bs-btn-padding-y: .3rem; --bs-btn-font-size: .8rem;"
                                            title="Simulate group" name="match_id">Simulate</button>
                                </div>
                                -->
                            </caption>
                            <thead class="table-dark">
                                <td>
                                    {% if simulate != 0 %}
                                    {% if simulate[labelp1][1] == 'd-f' %}
                                    *
                                    {% elif simulate[labelp1][1] == 'g-h' %}
                                    **
                                    {% endif %}
                                    {% endif %}
                                </td>
                                <td scope="col">Team</td>
                                <td scope="col">Pts.</td>
                                <td scope="col">GDf.</td>
                                <td scope="col">GS</td>
                            </thead>
                            {% if simulate != 0 %}
                            <tbody>
                                {% set rg = simulate[labelp1][0] %}
                                {% for rank, team in rg.items()%}
                                <tr {% if loop.index == 1 %} 
                                    class="table-warning" name="{{labelp1}}{{loop.index}}"
                                    {% elif loop.index == 2%}
                                    class="table-success" name="{{labelp1}}{{loop.index}}"
                                    {% endif %}>
                                    <td>
                                        {{labelp1}}{{loop.index}}
                                    </td>
                                    <td id="team"><img title="{{names[team]}}" decoding="async" loading="lazy" height="50%" width="auto" 
                                        src="https://cloudinary.fifa.com/api/v3/picture/flags-sq-2/{{team}}?tx=c_fill,g_auto,q_auto" class="image_img__3ckHZ">
                                    </td>
                                    <td>{{tst[team].points}}</td>
                                    <td>{{tst[team].goals_scored - tst[team].goals_received}}</td>
                                    <td>{{tst[team].goals_scored}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            {% endif %}
                        </table>
                    </div>
                    <div class="col">
                        <table class="table table-hover caption-top">
                            <caption class="text-center">
                                Group {{ labelp1 }}
                            </caption>
                            <thead class="border-dark">
                                <tr>
                                    {% set tg = teams[labelp1] %}
                                    {% for team in tg -%}
                                    <td> {{ team }} <img title="{{names[team]}}" decoding="async" loading="lazy" height="70%" width="auto" 
                                                         src="https://cloudinary.fifa.com/api/v3/picture/flags-sq-2/{{team}}?tx=c_fill,g_auto,q_auto" class="image_img__3ckHZ"></td>
                                    {% endfor %}
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody style="font-size: 15px">
                                {% set fg = fixtures[labelp1] %}
                                {% for match in fg -%}
                                <tr>
                                    <td class="text-nowrap">{{match.date}}</td>
                                    <td colspan="2">{{match.t1}} &nbsp; vs &nbsp; {{match.t2}}</td>
                                    <td>{{match.t1_goals}} : {{match.t2_goals}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {%- endfor %}
            </div>

            <div class="text-center mb-4">
                <p>* : Qualification defined by the results of matches between tied teams.</p>
                <p>** : Qualification defined by disciplinary performance or by a draw.</p>
            </div>
<!----------- Knockout stage ------------>
            <script src="{{ url_for('static', filename='ko_simulate.js') }}"></script>
            <div id="ko-buttons" class="row text-center my-3">
                <hr>
                <div class="jumbotron text-center my-3">
                    <h2>Knock-out stages</h2>
                    <p> Simulate each stage or <span class="text-danger">all</span> stages simultaneously.</p>
                </div>
                <div class="col">
                    <form onsubmit="sim_r16('QF'); return false;">
                        <button class="btn btn-outline-primary" title="Simulate round of 16">Simulate R16</button>
                    </form>
                </div>
                <div class="col">
                    <form onsubmit="sim_qf(57,60); return false;">
                        <button class="btn btn-outline-primary" title="Simulate quarter-finals">Simulate QF</button>
                    </form>
                </div>
                <div class="col">
                    <form onsubmit="sim_qf(61,62); return false;">
                        <button class="btn btn-outline-primary" title="Simulate semi-finals">Simulate SF</button>
                    </form>
                </div>
                <div class="col">
                    <form onsubmit="sim_qf(63,64); return false;">
                        <button class="btn btn-outline-primary" title="Simulate semi-finals">Simulate Finals</button>
                    </form>
                </div>
                <div class="col">
                    <form onsubmit="sim_r16('QF'),sim_qf(57,64); return false;">
                        <button class="btn btn-outline-danger" title="Simulate all KO-stage">Simulate All</button>
                    </form>
                </div>
            </div>

            <div class="container mx-1 text-center" style="max-width:1500px">
                <div class="row border-bottom">
                    <div class="col">
                        R16
                    </div>
                    <div class="col">
                        QF
                    </div>
                    <div class="col">
                        SF
                    </div>
                    <div class="col">
                        FINAL
                    </div>
                    <div class="col">
                        SF
                    </div>
                    <div class="col">
                        QF
                    </div>
                    <div class="col">
                        R16
                    </div>
                </div>
                <div name="bracket-row" class="row mb-3 py-2">
                    <div class="col d-flex justify-content-center">
                        <table name="R16" class="table table-borderless">
                            <tr>
                                <td id="t1">A1</td>
                            </tr>
                            <tr>
                                <td id="t2">B2</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col d-flex align-items-end">   
                        <table name="QF" id="g57" class="table table-borderless">
                            <tr>
                                <td id="W49"></td>
                            </tr>
                        </table>
                    </div>
                    <div class="col"></div>
                    <div class="col d-flex align-items-end justify-content-center">
                        <img src="/static/trofee.png" height="100px">
                    </div>
                    <div class="col"></div>
                    <div class="col d-flex align-items-end">
                        <table name="QF" id="g59" class="table table-borderless">
                            <tr>
                                <td id="W51"></td>
                            </tr>
                        </table>  
                    </div>
                    <div class="col d-flex justify-content-center">
                        <table name="R16" class="table table-borderless w-auto">
                            <tr>
                                <td id="t1">B1</td>
                            </tr>
                            <tr>
                                <td id="t2">A2</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div name="bracket-row" class="row my-3 py-2">
                    <div class="col d-flex justify-content-center">
                        <table name="R16" class="table table-borderless w-auto">
                            <tr>
                                <td id="t1">C1</td>
                            </tr>
                            <tr>
                                <td id="t2">D2</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col">     
                        <table name="QF" id="g57" class="table table-borderless">
                            <tr>
                                <td id="W50"></td>
                            </tr>
                        </table>            
                    </div>
                    <div class="col d-flex align-items-end">     
                        <table id="g61" class="table table-borderless text-start">
                            <tr>
                                <td id="W57"></td>
                            </tr>
                        </table>            
                    </div>
                    <div class="col">
                        <table id="champion" class="table table-borderless text-center">
                            <tr>
                                <td id="W64"></td>
                            </tr>
                        </table> 
                    </div>
                    <div class="col d-flex align-items-end">     
                        <table id="g62" class="table table-borderless text-end">
                            <tr>
                                <td id="W59"></td>
                            </tr>
                        </table>            
                    </div>
                    <div class="col">
                        <table name="QF" id="g59" class="table table-borderless">
                            <tr>
                                <td id="W52"></td>
                            </tr>
                        </table>  
                    </div>
                    <div class="col d-flex justify-content-center">
                        <table name="R16" class="table table-borderless w-auto">
                            <tr>
                                <td id="t1">D1</td>
                            </tr>
                            <tr>
                                <td id="t2">C2</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div id="final" class="row my-0 justify-content-center">
                    <table id="g64" class="table table-borderless w-auto">
                        <tr>
                            <td id="W61"></td>
                        </tr>
                    </table>
                    <table id="g64" class="table table-borderless w-auto">
                        <tr>
                            <td id="W62"></td>
                        </tr>
                    </table>
                </div>
                <div name="bracket-row" class="row my-1 py-2">
                    <div class="col d-flex justify-content-center">
                        <table name="R16" class="table table-borderless w-auto">
                            <tr>
                                <td id="t1">E1</td>
                            </tr>
                            <tr>
                                <td id="t2">F2</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col d-flex align-items-end">     
                        <table name="QF" id="g58" class="table table-borderless">
                            <tr>
                                <td id="W53"></td>
                            </tr>
                        </table>            
                    </div>
                    <div class="col d-flex align-items-start">     
                        <table id="g61" class="table table-borderless text-start">
                            <tr>
                                <td id="W58"></td>
                            </tr>
                        </table>            
                    </div>
                    <div class="col d-flex align-items-end">
                        <table id="3rd" class="table table-borderless mb-0">
                            <tr>
                                <td id="W63"></td>
                            </tr>
                        </table> 
                    </div>
                    <div class="col d-flex align-items-start">     
                        <table id="g62" class="table table-borderless text-end">
                            <tr>
                                <td id="W60"></td>
                            </tr>
                        </table>            
                    </div>
                    <div class="col d-flex align-items-end">
                        <table name="QF" id="g60" class="table table-borderless">
                            <tr>
                                <td id="W55"></td>
                            </tr>
                        </table>  
                    </div>
                    <div class="col d-flex justify-content-center">
                        <table name="R16" class="table table-borderless w-auto">
                            <tr>
                                <td id="t1">F1</td>
                            </tr>
                            <tr>
                                <td id="t2">E2</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div name="bracket-row" class="row mt-3 py-2">
                    <div class="col d-flex justify-content-center">
                        <table name="R16" class="table table-borderless w-auto">
                            <tr>
                                <td id="t1">G1</td>
                            </tr>
                            <tr>
                                <td id="t2">H2</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col">     
                        <table name="QF" id="g58" class="table table-borderless">
                            <tr>
                                <td id="W54"></td>
                            </tr>
                        </table>            
                    </div>
                    <div class="col"></div>
                    <div class="col text-nowrap">
                        <p>3rd place</p>
                        <div class="row justify-content-center">
                            <table id="g63" class="table table-borderless w-auto">
                                <tr>
                                    <td id="L61"></td>
                                </tr>
                            </table>
                            <table id="g63" class="table table-borderless w-auto">
                                <tr>
                                    <td id="L62"></td>
                                </tr>
                            </table> 
                        </div>
                    </div>
                    <div class="col"></div>
                    <div class="col">
                        <table name="QF" id="g60" class="table table-borderless">
                            <tr>
                                <td id="W56"></td>
                            </tr>
                        </table>  
                    </div>
                    <div class="col d-flex justify-content-center">
                        <table name="R16" class="table table-borderless w-auto">
                            <tr>
                                <td id="t1">H1</td>
                            </tr>
                            <tr>
                                <td id="t2">G2</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </main>
        <footer class="text-center py-1">
            <small>
            <p> These simulations don't consider favoritism of any team. Every scenario is equally likely.<br>
                Watch the video guide <a class="link-light" href="https://youtu.be/xfvCNBkWF8U">here</a>.
            </p>
            </small>
        </footer>
    </body>
</html>